@charset "UTF-8";

/* リスト */
/* リスト - タイトル */
.list_title * {
  padding: 10px 0px 10px 0px;
  background-color: rgb(90, 90, 90);
  color: white;
  font-weight: bold;
  text-align: left;
}
/* リスト - 要素 */
.list_content {
  max-height: 500px;
  overflow: auto;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}
.list_content::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
.list_content * {
  background-color: #ffffff;
}
/* リスト - 行設定 */
.list_title tr th {
  padding: 5px 0px 5px 5px;
}
.list_content tr td {
  padding: 5px 0px 5px 5px;
}
.list_content tr {
  border: solid 1px rgb(90, 90, 90);
}
.list_content tr * {
  background-color: rgba(0, 0, 0, 0);
}
.list_content tr:hover {
  background: rgb(239, 239, 239);
}
/* リスト - 列設定 */
.hidden_column {
	display:none;
  visibility: hidden;
  width: 0px;
}
.check_column1 {
  width: 50px;
}
.student_column1 {
  width: 100px;
}
.student_column2 {
  width: 350px;
}
.student_column3 {
  width: 300px;
}
.student_column4 {
  width: 300px;
}
.student_column5 {
  width: 80px;
}
.syllabus_column1 {
  width: 120px;
}
.syllabus_column2 {
  width: 400px;
}
.syllabus_column3 {
  width: 150px;
}
.syllabus_column4 {
  width: 250px;
}
.syllabus_column5 {
  width: 130px;
}
.syllabus_column6 {
  width: 120px;
}
.item_column1 {
  width: 350px;
}
.item_column2 {
  width: 100px;
}
.item_column3 {
  width: 300px;
}
.item_column4 {
  width: 300px;
}
.item_column5 {
  width: 80px;
}

/* ソート */
.sort * {
  padding: 3px 4px;
  margin: 30px 50px 10px 0px;
  background-color: #ffffff;
  float: right;
}
.sort:after {
  background-color: #efefef;
  content: "";
  display: block;
  clear: both;
}

/* ユーザー情報詳細 */
/* パネル設定 */
.user_profile {
  margin: 10px 0px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.user_profile * {
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0);
}
/* ユーザー名 */
.user_profile #user_name {
  margin: 0px 0px 15px 0px;
  font-weight: bold;
}
/* アイコン画像 */
.user_profile img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
/* 小見出し */
.user_profile .item_for_LeftAndRight_around h3 {
  font-size: 1em;
}
/* 自己紹介文 */
.user_profile #selfintroduction {
  padding: 10px 10px;
  border: 1px solid #000000;
  min-height: 200px;
}
/* パスワード入力欄（運営） */
.user_profile .password * {
  display: flex;
  flex-direction: column;
  width: 350px;
  font-size: 1.3em;
}

/* 学生情報編集 */
/* ディスプレイネーム編集 */
.user_profile .item_for_LeftAndRight_around input#user_name {
  font-size: 1.4em;
}
/* 所属学科編集 */
.user_profile .item_for_LeftAndRight_around select {
  margin:0px;
  font-size: 1.4em;
}
/* 自己紹介文編集 */
.selfintroduction textarea {
  padding: 10px 0px 0px 10px;
  width: 98%;
  min-height: 200px;
  resize: none;
  border: 1px solid #000000;
}

/* 学生出品物一覧 */
/* リスト設定 */
ul#user_exhibit_list {
  max-height: 500px;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}
ul#user_exhibit_list::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
/* リスト短冊設定 */
ul#user_exhibit_list li {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
  width: 90%;
  height: 70px;
}
ul#user_exhibit_list li:hover {
  background: #efefef;
}
ul#user_exhibit_list li * {
  background: rgba(0, 0, 0, 0);
  object-fit: contain;
}
ul#user_exhibit_list li form {
	width: 100%;
}
/* リストボタン設定 */
ul#user_exhibit_list li button {
  margin: 0px;
  padding: 0px 0px 0px 40px;
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
}
/* 商品名設定 */
ul#user_exhibit_list h3 {
  margin-top: 10px;
}
/* 商品画像設定 */
ul#user_exhibit_list img {
  width: 50px;
  height: 50px;
  margin: auto 30px auto 0px;
}
/* 商品価格設定 */
ul#user_exhibit_list .item_for_bottom {
  margin-left: auto;
  margin-right: 40px;
}
/* 編集・登録ボタン　位置設定 */
.edit_and_add_button_box {
  display: inline-flex;
}
.edit_and_add_button_box * {
  margin: 0px 5px;
}

/* シラバス情報登録 */
/* パネル設定 */
.syllabus_profile {
  margin: 0px auto;
  width: 50vw;
  background-color: #ffffff;
  border: 1px solid #000000;
}
/* 開講年度パネル設定 */
.syllabus_profile .item_for_grid_r1c2 #course_year_list select {
	background-color:white;
	margin:0px;
	width:100%;
	height:100%;
}
/* 単位数パネル設定 */
.syllabus_profile .item_for_grid_r1c2 .item_for_grid_r1c2 #unit {
  border-left: 1px solid #000000;
}
/* 表題設定 */
.syllabus_profile h3 {
  padding: 10px 10px;
  font-size: 1.5em;
  font-weight: normal;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.syllabus_profile .item_for_grid_r1c1 h3 {
  border: none;
  border-bottom: 1px solid #000000;
}
/* デフォルト入力欄設定 */
.syllabus_profile input {
  margin: 0px;
  padding: 10px 0px 10px 10px;
  background: #ffffff;
  border: none;
  font-size: 1.5em;
  border-bottom: 1px solid #000000;
}
/* テキストエリア入力欄設定 */
.syllabus_profile .item_for_grid_r1c1 textarea {
  min-height: 200px;
  background-color: #ffffff;
  font-size: 1.1em;
  border: none;
  resize: none;
}
/* 履修条件設定 */
.syllabus_profile .item_for_grid_r1c2_c12 {
  border-top: 1px solid #000000;
}

/* シラバス詳細画面 */
/* 値表記設定 */
.syllabus_profile h3#no_subtitle {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #000000;
}
/* 長文値表記設定 */
.syllabus_profile h3#explanation {
  min-height: 200px;
  background-color: #ffffff;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid #000000;
}

/* 商品情報詳細画面 */
/* パネル設定 */
.exhibit_profile {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #000000;
}
.exhibit_profile * {
  background: rgba(0, 0, 0, 0);
}
/* 商品名 */
.exhibit_profile h2#title {
  font-size: 1.8em;
}
/* 商品画像 */
.exhibit_profile .item_for_left {
	flex-direction: row;
}
.exhibit_profile .item_for_left img {
  width: 200px;
  height: 200px;
  margin: 30px 10px;
  object-fit: contain;
}
/* 状態・価格 */
.exhibit_profile .item_for_right div * {
  margin: 0px 0px 20px 0px;
  flex-direction: column;
  text-align: right;
}

/* 検索画面 */
.search_box {
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.search_box * {
  background: rgba(0, 0, 0, 0);
}
/* 表題 */
.search_box h3 {
  margin-left: 30px;
  font-size: 1.3em;
}
/* 入力欄・プルダウン */
.search_box input,
select {
  margin: 5px 0px 30px 20px;
  font-size: 1.3em;
  width: 400px;
}
/* 円ラベル */
.search_box label {
  font-size: 1.3em;
}
