@charset "UTF-8";
/* CSS Document */
/*確認ダイアログ*/
#confirm_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 180px;
  margin-top: -90px;
  margin-left: -150px;
  border: solid 1px #aaa;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #B7B5B5;
}
#confirm_dialog p{
	background-color: white !important;
}
#confirm_dialog p {
  margin: 20px;
}
.confirm_dialog_button {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  margin: 0px 50px;
  background-color: white !important;
}
.confirm_dialog_button form{
	background-color: white !important;
}
.confirm_dialog_button button {
  margin: 10px;
}
.confirm_dialog_button #no {
  margin: 0px 30px;
}
/*確認ダイアログ（運営用）*/
#confirm_dialog_admin {
  position: fixed;
  top: 50%;
  left: 25%;
  display: none;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 180px;
  margin-top: -90px;
/*margin-left: -150px;*/
  border: solid 1px #aaa;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #B7B5B5;
}
#confirm_dialog_admin p{
	background-color: white !important;
}
#confirm_dialog_admin p {
  margin: 20px;
}

/*削除確認ダイアログ*/
#negative_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 180px;
  margin-top: -90px;
  margin-left: -150px;
  border: solid 1px #aaa;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #B7B5B5;
}
#negative_dialog p {
  margin: 20px;
}
.negative_dialog_button {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  margin: 0px 50px;
}
.negative_dialog_button button {
  margin: 10px;
}
.negative_dialog_button #nega_no {
  margin: 0px 30px;
}


/*通知ダイアログ*/
#notify_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 180px;
  margin-top: -90px;
  margin-left: -150px;
  border: solid 1px #aaa;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #B7B5B5;
}
#notify_dialog p{
	background-color: white !important;
}
#notify_dialog p {
  margin: 20px;
}
.notify_dialog_button {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  margin: 0px 50px;
	background-color: white !important;
}
.notify_dialog_button button {
  margin: 10px;
}
/*通知ダイアログ（運営用）*/
#notify_dialog_admin {
  position: fixed;
  top: 50%;
  left: 25%;
  display: none;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 180px;
  margin-top: -90px;
  /* margin-left: -150px; */
  border: solid 1px #aaa;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #B7B5B5;
}
#notify_dialog_admin p{
	background-color: white !important;
}
#notify_dialog_admin p {
  margin: 20px;
}


/*出品情報プレビューダイアログ*/
#exhibit_infomation{
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  text-align: center;
  background-color: white;
  width: 800px;
  height: 650px;
  z-index: 200;
  margin-top: -90px;
  margin-left: -150px;
/*  border: solid 1px #aaa;*/
  border-radius: 10px;
  box-shadow: 5px 5px 5px #A3A3A3;
}
.dialog_info_base {
  background-color: #ffffff;
  padding: 0px 50px;
}

.exhibit_dialog_content {
}

#exhibit_textfield_confirm {
  width: 350px;
  font-size: 0.8em;
}


.dialog_exhibit_top {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.dialog_detail {
  margin: 10px 0px 20px 0px;
}

.exhibit_description {
	text-align: left;
}

#dialog_condition {
	font-size: 1em;
	float: left;
}

.dialog_middle_content {
	text-align: left;

}

.dialog_check_button {
	display: flex;
	flex-direction: column;
	margin: 0px 35%;
}
.dialog_check_button #no{
	margin: 5px 20%
}



#message_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 180px;
  margin-top: -90px;
  margin-left: -150px;
  border: solid 1px #aaa;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #B7B5B5;
}

#message_notify {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 180px;
  margin-top: -90px;
  margin-left: -150px;
  border: solid 1px #aaa;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #B7B5B5;
}
#post_icon{
	padding-bottom: 5px;
}
