@charset "UTF-8";

@import url(general_layout.css);
@import url(general.css);
@import url("dialog.css");

body {
  widows: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/univ1.png);
}
